{{define "content"}}
{{with .Product}}
	<div class="row detail">
		<div class="columns-small-8 small-offset-2">
			<div class="row">
				<div class="columns small-4">
					<img src="/img/{{.ImageURL}}" alt="{{.ImageURL}}" />
				</div>
				<div class="columns small-8 details">
					<h2>{{.Name}}</h2>
					<div class="row">
						<div class="columns small-3 text-right">
							Price:
						</div>
						<div class="columns small-8 small-offset-1">
							{{.Price | printf "$%.2f"}}
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Material:
						</div>
						<div class="columns small-8 small-offset-1">
							{{.Material}}
						</div>
					</div>
					<div class="row">
						<div class="columns small-3 text-right">
							Sizes:
						</div>
						<div class="columns small-8 small-offset-1">
							{{.Size}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="columns small-10 small-offset-1">
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12">
					{{.Description}}
				</div>
			</div>
		</div>
	</div>
{{end}}
{{end}}