<!DOCTYPE html>
<html>
<head>
<title>Meme Shirt Supply</title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	{{template "_header.html"}}
	<div class="main-menu">
		<div class="row">
			<div class="columns small-12 text-center">
				<h2>Supplying Communities Since 2017</h2>
				<p>Ever seen a meme and thought "I need that as a shirt?" We have all your favorite memes right here.
					Don't see what you're looking for? We can put any meme on a shirt, flyer or sign.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="columns small-10 small-offset-1">
				<div class="row">
					<div class="columns small-4">
						<img src="/img/tshirt_outline.png" alt="shirt" class="lemon" />
						<div class="row">
							<div class="icon columns small-12">
								<img src="/img/tag.png" alt="tag" />
							</div>
						</div>
						<div class="row">
							<div class="columns small-12 text-center label">Sales</div>
						</div>
					</div>
					<div class="columns small-4">
						<a href="/shop"> 
							<img src="/img/tshirt_outline.png" alt="shirt" class="lemon" />
							<div class="row">
								<div class="icon columns small-12">
									<img src="/img/cart.png" alt="shop" />
								</div>
							</div>
							<div class="row">
								<div class="columns small-12 text-center label">Shop</div>
							</div>
						</a>
					</div>
					<div class="columns small-4">
						<img src="/img/tshirt_outline.png" alt="shirt" class="lemon" />
						<div class="row">
							<div class="icon columns small-12">
								<img src="/img/people.png" alt="members" />
							</div>
						</div>
						<div class="row">
							<div class="columns small-12 text-center label">Members</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{template "_footer.html"}}	
</body>
</html>